<html>
	<body>
		<script src="vue.js"></script>

		<div id="app">
			<ul>
				<li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
			</ul>
			<hr>
			<ul>
				<!-- <li v-for="person in persons">{{person.name}}</li> -->

				<!-- <li v-for="person in persons">
					<span v-for="value in person">{{value}}</span>
				</li> -->

				<li v-for="person in persons">
					<div v-for="(value, key, index) in person">{{key}}: {{value}} ({{index}})</div>
				</li>
			</ul>
			<hr>
			<template v-for="(ingredient, index) in ingredients">
				<h1>{{ingredient}}</h1>
				<p>{{index}}</p>
			</template>
		</div>

		<script>

			new Vue({
				  el: '#app',
				  data: {
						ingredients: ['meat','fruit','cookies'],
						persons: [
							{name: 'Raunak', age: 23, color: 'red'},
							{name: 'Komal', age: 22, color: 'blue'}
						]
				  },
				  computed: {

				  }
			  });

		</script>
	</body>
</html>
